h1:hover
{
    background-color: red;
}
.from input
{
    margin-top: 20px;
}
.continar
{
    border: 5px dashed tomato ;
    height: 300px;
    display: flex;
   
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.box
{
    border: 5px solid green;
    height: 50px ;
    width: 100px;
}
nav
{
    display: flex;
    justify-content: space-between;
  
}
nav a
{
text-decoration: none; 
color: black;
font-size: 30px;


}
.from
{
display: flex;
flex-direction: column;
margin-top: 20px;
height: 200px;
width: 300px;
border: 5px solid yellow;

}
.section1
{
    display: flex;
    justify-content: center;
    /* align-items: center; */
  
  
}
.item
{
    border: 2px solid peru;
}
.grid-continar
{
    display: grid;
    /* grid-template-columns: 200px 200px 100px; */
    /* grid-template-columns: repeat(3,100px); */
    grid-template-columns: repeat(3,1fr);
}
.calander
{
    display: grid;
    grid-template-columns: repeat(7,1fr);
  
   row-gap: 20px;
   column-gap: 20px;
}
.date, .day
{
   
    background-color: aqua;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.day
{
    background-color:lightcoral;
}
.food img
{
    height: 700px;
    width: 700px;

}
.imgcontinar
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 20px;
    
    
}

.food
{
    border: 10px solid  yellow; 
}